
.project--main {
  display: flex;
  padding: 20px;
}

.project--title {
  text-align: left;
  margin-left: 1.5rem;
}

.project--details {
  padding-left: 30px;
  text-align: left;
}

.project--main-image {
  max-width: 800px;
  max-height: 600px;
  width: auto;
  height: auto;
  border-radius: 10px;
}

.project--description {
  margin-top: 0px;
  font-size: 1.2rem;
}

.project--link {
  text-decoration: none;
  font-weight: 700;
  color: inherit;
  padding-top: .8em;
  display: inline-block;
  font-size: 1.3rem;
}

.project--list-header {
  margin-bottom: 0px;
  font-size: 1.3rem;
  margin-top: .5rem;
}

.project--item-card {
  margin: .2rem;
  border: 1px solid var(--color-dark);
  display: inline;
  padding: .4rem;
  border-radius: var(--border-radius);
  background-color: var(--color-pale)
}

.project--list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0px;
}


@media (max-width: 1200px) {
  .project--main-image {
    max-width: 400px;
    max-height: 300px;
  }
}
@media (max-width: 600px) {
  .project--main {
    flex-direction: column;
  }
  .project--details {
    padding-left: 0;
    margin-top: 1rem;
  }
}