.employment--job-card {
  margin: 0 auto;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  cursor: pointer;
  background: var(--color-dark);
  margin-top: 1rem;
  border-radius: var(--border-radius);
  overflow-y: clip;
  height: min-content;
  interpolate-size: allow-keywords;
  margin-bottom: 0;
}

.employment--header {
  overflow-y: clip;
  color: var(--color-light);
  padding: .5rem;
}

.employment--job-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;

}


.employment--description {
  text-align: left;
  background: var(--color-light);
  line-height: 1.4rem;
  font-size: 1.2rem;
  transition: 
    height 1s ease-in-out;
  height: 0px;
}

.employment--job-info {
  text-align: left;
}

.employment--job-date {
  text-align: right;
}

.employment--description > ul {
  margin: 1rem;
}
.employment--description > ul > li {
  line-height: 1.5rem;
}

.employment--description > p {
  padding: .5rem .5rem 0rem .5rem;
}

.employment--u-hidden {
  height: min-content;
}