.employment--job-card {
  margin: 0 auto;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  cursor: pointer;
  background: var(--color-dark);
  border: .2rem solid var(--color-dark);
  margin-top: 1rem;
  border-radius: var(--border-radius);
  height: 3.5rem;
  overflow-y: clip;
  transition: height 1s ease-in-out;
  interpolate-size: allow-keywords;
}

.employment--header {
  display: flex;
  justify-content: space-between;
  padding: .5rem;
}

.employment--header > h2 {
  color: var(--color-light)
}

.employment--description {
  margin-top: 1rem;
  text-align: left;
  padding: .5rem .5rem;
  background: var(--color-light);
  height: auto;
  line-height: 1.4rem;
  font-size: 1.2rem;
}

.employment--description > ul {
  margin: 1rem;
}
.employment--description > ul > li {
  line-height: 1.5rem;
}

.employment--u-hidden {
  height: auto;

}