

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background: var(--color-pale);
  z-index: 100;
}

.nav--items {
  display: flex;
  gap: 1rem;
  font-weight: 700;
  font-size: 1.2rem;
  margin-right: 30px;
}

.nav--item {
  font-family: inherit;
  text-decoration: none;
  overflow-y: clip;
}

.nav--profile {
  width: 3.75rem;
  height: 3,75rem;
  border-radius: 50%;
  margin: .625rem;
}

.activeLink {
  text-decoration: underline;
}