

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background: var(--color-pale);
}

.nav--items {
  display: flex;
  gap: 1rem;
  font-weight: 700;
  font-size: 1.2rem;
  margin-right: 30px;
}



.nav--item {
  font-family: inherit;
  text-decoration: none;
  overflow-y: clip;
}

.nav--item:hover {
  

}

.nav--profile {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 10px;
}

.activeLink {
  text-decoration: underline;
}