---
  const date = new Date()
  const dateString = date.getFullYear()
---

 <footer>
      <p>Copyright Martin Consulting LLC {dateString}</p>
    </footer>


<style>
    footer {
  text-align: left;
  bottom: 0;
  font-size: .7rem;
}
</style>