---
interface Props {
  quote: string
}
const { quote } = Astro.props
---

<div class="quote--card">
  <blockquote>{quote}</blockquote>
</div>

<style>
  .quote--card {
    background-color: var(--bento-canvas, var(--color-light));
    color: var(--bento-text, var(--text-color));
    border: 2px solid;
    border-color: var(--bento-border-color, var(--color-dark));
    border-radius: var(--border-radius);
    padding: 0.5rem;
  }
  blockquote {
    font-size: 1rem;
    width: 250px;
    display: block;
    padding: 0 0 0 1rem;
    text-wrap: wrap;
    line-height: 1.5;
    margin: 0;
  }
</style>
