*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture,
body {
  margin: 0;
}

img,
picture {
  max-width: 100%;
  /* display: block; */
}

html {
  overflow-y: scroll;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
  text-shadow: 0px 0px 5px rgba(20, 20, 20, 0.2);
}

::view-transition-new(root) {
  animation:circle-in 600ms;
}

@keyframes circle-in {
  from { clip-path: circle(0% at 90% 5% );}
  to { clip-path: circle(200% at 90% 5%); }
}

:root {
  font-family: Inter, Arial, Helvetica, sans-serif;
  --border-radius: 4px;

  /* Light Theme Colors (default) */
  --color-light: #dad7cd;
  --color-pale: #a3b18a;
  --color-medium: #588157;
  --color-dark: #3a5a40;
  --color-darkest: #344e41;

  --bg-color: var(--color-light);
  --text-color: var(--color-darkest);
}

html[data-theme="dark"] {
  /* Dark Theme colors */
  --color-light: #344e41;
  --color-pale: #3a5a40;
  --color-medium: #588157;
  --color-dark: #a3b18a;
  --color-darkest: #dad7cd;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  min-height: 100vh;
}

.page-title {
  margin-left: 1rem;
}

.find {
  outline:2px solid red;
}

