
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
  margin: 0;
}

img,
picture {
  max-width: 100%;
  /* display: block; */
}

html {
  overflow-y:scroll;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
  text-shadow: 0px 0px 5px rgba(20,20,20,0.2);
}

body {
  background-color: var(--color-light);
  min-height: 100vh;
}


:root {
  font-family: Inter, Arial, Helvetica, sans-serif;
  --border-radius: 4px;
  --color-light: #dad7cd;
  --color-pale: #a3b18a;
  --color-medium: #588157;
  --color-dark: #3a5a40;
  --color-darkest: #344e41;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

main {
  padding-bottom: .7rem;
}

.page-title {
  margin-left: 1rem;
}

