---
import "../style.css"
import Navbar from "../components/Navbar.astro"
import Footer from "../components/Footer.astro"
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="BuildToGive connects early-career tech professionals with nonprofits to build digital tools, grow real-world skills, foster community, and make the world a little better."
    />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <link
      rel="preload"
      href="https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap"
      onload="this.onload=null;this.rel='stylesheet';this.removeAttribute('as')"
      as="style"
    />
    <meta name="generator" content={Astro.generator} />
    <title>Jason Martin</title>
    <script is:inline>
      const theme = (() => {
        if (typeof localStorage !== "undefined" && localStorage.getItem("theme-preference")) {
          return localStorage.getItem("theme-preference")
        }
        if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
          return "dark"
        }
        return "light"
      })()

      if (theme === "light") {
        document.documentElement.setAttribute("data-theme", "light")
      } else {
        document.documentElement.setAttribute("data-theme", "dark")
      }
    </script>
  </head>
  <body>
    <Navbar />
    <slot />
    <Footer />

  </body>
</html>

<style is:global></style>
